apiVersion: v1
kind: Service
metadata:
  name: {{.Name}}
  labels:
    app: {{.Name}}
spec:
  type: ClusterIP
  ports:
    - port: {{.Port}}
      targetPort: {{.Port}}
      protocol: TCP
  selector:
    app: {{.Name}}

