apiVersion: v1
kind: Secret
metadata:
  name: {{.Name}}
  namespace: {{.ArgoCDNamespace}}
  labels:
    argocd.argoproj.io/secret-type: cluster
    env: {{.Environment}}
{{- if .Region}}
    region: {{.Region}}
{{- end}}
{{- if .Primary}}
    primary: "true"
{{- end}}
type: Opaque
stringData:
  name: {{.Name}}
  server: {{.URL}}
  config: |
    {
      "tlsClientConfig": {
        "insecure": false
      }
    }

