apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{.Name}}
  namespace: {{.ArgoCDNamespace}}
spec:
  description: {{if .Description}}{{.Description}}{{else}}Project for {{.Name}}{{end}}
  sourceRepos:
    - '*'
  destinations:
    - namespace: '*'
      server: '*'
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
  roles:
    - name: admin
      description: Admin access to all applications in this project
      policies:
        - p, proj:{{.Name}}:admin, applications, *, {{.Name}}/*, allow
        - p, proj:{{.Name}}:admin, repositories, *, {{.Name}}/*, allow
        - p, proj:{{.Name}}:admin, clusters, *, {{.Name}}/*, allow
        - p, proj:{{.Name}}:admin, exec, *, {{.Name}}/*, allow
      groups:
        - admin
    - name: readonly
      description: Read-only access to applications in this project
      policies:
        - p, proj:{{.Name}}:readonly, applications, get, {{.Name}}/*, allow
      groups:
        - readonly

