apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{.Name}}
  namespace: argocd
spec:
  description: {{if .Description}}{{.Description}}{{else}}Project for {{.Name}}{{end}}
  sourceRepos:
    - '*'
  destinations:
    - namespace: '*'
      server: '*'
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'

