apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  interval: {{ .Interval }}
  url: {{ .URL }}
{{- if .SecretRef }}
  secretRef:
    name: {{ .SecretRef }}
{{- end }}
